/*default margin and padding for entire document*/
* {
  margin: 0;
  padding: 0;
}

body{
  background-color: black;
  color: white;
  font-size: 22px;
}

/*the text "hi i am andrews peter"*/
.header {
  display: inline-block;
  font-size: 54px;
  font-weight: bold;
  padding-top: 15%;
}

/*the github link*/
a {
  text-decoration: none;
  color: white;
  font-family: 'Quicksand', sans-serif;
  font-size: 16px;
  letter-spacing: 5px;
}

a:hover {
  color: grey;
}
